/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
  background-color: white;
  padding: 40px 20px;
}
/*Contenedor Principal*/

.Contenedor-noticias {
  display: grid;
  
  /* Columnas */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; 
  max-width: 1200px;
  margin: 0 auto;
  img {
        width: 95%;
        height: auto;
        border-radius: 10px;
        border: 1px solid #302f2f;
    }
}
.grid-item {
  background-color: #6876b6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.destacado {
  grid-column: 1 / 4; 
  padding: 30px; 
}

.destacado img {
  /* Una altura mayor para la imagen principal */
  height: 350px;
  }